<link rel="stylesheet" type="text/css" href="/background.css"/>

<h1>a website created to stop the temptation</h1>
<h1>of treating your self one too many times</h1>
<h1>by simply keeping track of your spending.</h1>
