<h1>All Categories</h1>
<p><a href="/categories/new">Add a new category</a></p>
<% for category in @categories %>
<p><%= category.tag() %>
<a href="/categories/<%= category.id %>/edit">Edit</a>
</p>
<hr/>
<% end %>
