<link rel="stylesheet" type="text/css" href="/background.css"/>
<h1>all categories</h1>
<p><a href="/categories/new">Add New</a></p>
<% for category in @categories %>
<p><%= category.tag() %>
<a href="/categories/<%= category.id %>/edit">Edit</a>
</p>
<% end %>
