<link rel="stylesheet" type="text/css" href="/background.css"/>
<h1>Edit Category</h1>

<form action="/categories/<%=@category.id%>" method="post">
  <label>
    <p>Tag:
    <input type="text" name="tag"  value="<%= @category.tag %>"/>
  </label>
  <input type="submit" value="Save" /></p>
</form>

