<h1>Edit Category</h1>

<form action="/categories" method="post">
  <label>
    Tag:
    <input type="text" name="tag"  value="<%= @category.tag %>"/>
  </label>
  <input type="submit" value="Edit" />
</form>


