 <!DOCTYPE html>
 <html>
 <head>
   <title>Thrifty Business</title>
   <link rel="stylesheet" type="text/css" href="/style.css"/>
 </head>
 <body>
   <nav>

     <ul>

       <li>
         <p class ="title">thrifty business</p>
         <a href="/about">About</a>
         <a href="/transactions">Transactions</a>
         <a href="/categories">Categories</a>
         <a href="/merchants">Merchants</a>
         <a href="/help">Help?</a>
       </li>
     </ul>
   </nav>
   <%=yield%>
 </body>
 </html>