 <!DOCTYPE html>
 <html>
 <head>
   <title>Thrifty Business</title>
   <link rel="stylesheet" type="text/css" href="/style.css"/>
 </head>
 <body>
   <nav>

     <ul>
      <p class ="title">thrifty business</p>
       <li>
         <a href="/about">About</a>
         <a href="/transactions">All Transactions</a>
         <a href="/settings">Settings</a>
       </li>
     </ul>
   </nav>
   <%=yield%>
 </body>
 </html>