 <!DOCTYPE html>
 <html>
 <head>
   <title>Thrifty Business</title>
   <link rel="stylesheet" type="text/css" href="/style.css"/>
 </head>
 <body>
   <nav>
     <ul>
       <li>
         <p><a href="/about">About</a></p>
         <p><a href="/transactions">All Transactions</a></p>
         <p><a href="/settings">Settings</a></p>
       </li>
     </ul>
   </nav>
   <%=yield%>
 </body>
 </html>