 <!DOCTYPE html>
 <html>
 <head>
   <title>Thrifty Business</title>
   <link rel="stylesheet" type="text/css" href="/style.css"/>
 </head>
 <body class="flex flex--row">
   <nav>

     <ul>

       <li>
         <p class ="title">thrifty business</p>
         <a href="/about">about</a>
         <a href="/transactions">transactions</a>
         <a href="/categories">categories</a>
         <a href="/merchants">merchants</a>
         <a href="/help">still need help?</a>
       </li>
     </ul>
   </nav>
   <%=yield%>
 </body>
 </html>