<h1>Edit Merchant</h1>

<form action="/merchants/<%= @merchant.id%>" method="post">
  <label>
    <p>Name:
    <input type="text" name="name"  value="<%= @merchant.name %>"/>
  </label>
  <input type="submit" value="Save" /></p>
</form>


