<link rel="stylesheet" type="text/css" href="/background.css"/>
<h1>all merchants</h1>
<p><a href="/merchants/new">Add New</a></p>
<% for merchant in @merchants %>
<p><%= merchant.name() %>
  <a href="/merchants/<%= merchant.id %>/edit">Edit</a>
</p>
<% end %>