<h1>Edit Merchant</h1>

<form action="/merchants" method="post">
  <label>
    Name:
    <input type="text" name="name"  value="<%= @merchant.name %>"/>
  </label>
  <input type="submit" value="Edit" />
</form>


