<link rel="stylesheet" type="text/css" href="/background.css"/>
<h1>New Merchant</h1>

<form action="/merchants" method="post">
  <p><label>
    Name:
    <input type="text" name="name"/>
  </label>
  <input type="submit" value="Add"/></p>
</form>