<h1>All Merchants</h1>
<p><a href="/merchants/new">Add a new merchant</a></p>
<% for merchant in @merchants %>
<p><%= merchant.name() %>
  <a href="/merchants/<%= merchant.id %>/edit">Edit</a>
</p>
<hr/>
<% end %>