body {
   background-image: url("https://s-media-cache-ak0.pinimg.com/564x/ad/06/09/ad0609b7855aae13cd91b9e774e69714.jpg");
   background-position: center; 
   background-repeat: no-repeat;
   background-attachment: fixed;
}