@font-face {
    font-family: "amarillo";
    src: url("/amarillo/Amarillo.ttf");
    font-family: "movie_poster";
    src: url("/sf_movie_poster/SF_Movie_Poster.ttf");
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}

li {
    float: center;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px 40px;
    text-decoration: none;
    display: inline;
    font-family: "movie_poster";
    font-size: 30px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: MintCream }

.home {
    font-family: "movie_poster";
    font-size: 50px;
    text-decoration: none;
    color: darkslategray;
    text-align: center;
    float: center;

}

.title {
    font-family: amarillo;
    color: white;
    padding: 10px 40px;
    text-align: center;
    float: center;

}

.container_welcome {
    font-family: amarillo;
    text-align: center;
    float: center;

}

.flex {
  display: flex;
}

.flex--row {
    align-content: stretch;
  flex-direction: column;

}
.display {
      align-content: stretch;
    flex-direction: row;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}


a, p {
    text-align: center;
    float: center;
}


h1 {
    font-family: "movie_poster";
    text-align: center;
    float: center;
    font-size: 50px;
    color: darkslategray;
}


body{

        border: 13px solid #bed5cd;
        
}