@font-face {
    font-family: "amarillo";
    src: url("/amarillo/Amarillo.ttf");
    font-family: "movie_poster";
    src: url("/sf_movie_poster/SF_Movie_Poster.ttf");
}

ul {
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px 40px;
    text-decoration: none;
    display: inline;
    font-family: "movie_poster";
    font-size: 30px;

}

table {
    border-collapse: collapse;
    font-family: helvetica;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: MintCream }

.home {
    font-family: "movie_poster";
    font-size: 50px;
    text-decoration: none;
    color: darkslategray;
    text-align: center;
}

.title {
    font-family: amarillo;
    color: white;
    padding: 10px 40px;
    text-align: center;
}

.container_welcome {
    font-family: amarillo;
    text-align: center;
}

.flex {
  display: flex;
}

.flex--row {
    flex-direction: column;
}

.flexcontainer {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}


a, p {
    text-align: center;
}


h1 {
    font-family: "movie_poster";
    text-align: center;
    font-size: 50px;
    color: darkslategray;
}


body {
   background-image: url("https://s-media-cache-ak0.pinimg.com/564x/ad/06/09/ad0609b7855aae13cd91b9e774e69714.jpg");
   background-position: center; 
   background-repeat: no-repeat;
   background-attachment: fixed;

}